

  <!-- Footer -->
  <footer class="py-5">
      <div class="container">
        <p class="m-0 text-center text-white">This is an open source project. Feel free to copy, edit, or contribute!</p>
      </div>
  </footer>

  
    <!-- Scripts -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tooltips.js"></script>



  </body>
  
  </html>
  