<% include partials/header %>

<header>
    <div class="bg-blue collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <p class="text-light">This is an open source Productivity tracker for tracking the time spent coding. This app is made with Node + Express JS.
               Feel free to clone, edit, or submit a pull request.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <ul class="list-unstyled">
              <li><a href="https://twitter.com/devsamlak" class="text-white">Twitter</a></li>
              <li><a href="https://github.com/samlak" class="text-white">GitHub</a></li>
              <li><a href="http://samlak.github.io/" class="text-white">Website</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-blue shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center title">
          <strong>Productive - Productivity Tracker</strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <div class="container">
    <h1 class="text-center mt-3 title">Productivity Overview</h1>
    <div class="graph mb-5">
      <ul class="months">
        <li>Jan</li>
        <li>Feb</li>
        <li>Mar</li>
        <li>Apr</li>
        <li>May</li>
        <li>Jun</li>
        <li>Jul</li>
        <li>Aug</li>
        <li>Sep</li>
        <li>Oct</li>
        <li>Nov</li>
        <li>Dec</li>
      </ul>
      <ul class="squares">
        <% for (var i = 0; i < data.daysInYear; i++) { %>
          <li data-toggle="tooltip" data-placement="bottom" data-animation="false" delay="0" title="<%= data.date[i] %>" data-level="2"></li>
        <% } %>
      </ul>
    </div>

    <h1 class="text-center mt-3 mb-5 title">Control Panel</h1>

    <div class="row text-center">
      <div class="col">
        <button type="button" id="start-app" class="col btn btn-outline-success">Start App</button>
      </div>
      <div class="col">
        <button type="button" id="stop-app" class="col btn btn-outline-danger">Stop App</button>
      </div>
      <div class="col">
        <select id="period" class="col form-control">
          <option selected>Choose period</option>
          <option value="all">All</option>
          <option value="today">Today</option>
          <option value="yesterday">Yesterday</option>
          <option value="thisWeek">This Week</option>
          <option value="lastWeek">Last Week</option>
          <option value="thisMonth">This Month</option>
          <option value="lastMonth">Last Month</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="col form-control" id="date" placeholder="Date e.g 11/01/2020">
      </div>
      <div class="col">
        <button type="submit" class="col btn btn-primary">Check Coding Activity</button>
      </div>
    </div>

    <div class="card text-center border-primary mt-5">
      <div class="card-body">
        <p class="card-text" id="display-result"></p>
      </div>
    </div>
  </div>

<% include partials/footer %>